/* Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');

body {
    font-family: 'Gothic+A1';
    font-size: 13px;
    color: #222;
    margin: 0;
    padding: 0;
}

/* Layout CSS */
.container {
    background-color: #4D4D4D;
    height: 100vh;
}

.login {
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    width: 548px;
    height: 646px;

    /* centering layout */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.login-title {
    text-align: center;
    margin: 25px 0;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 0.7px solid lightgray;
    position: relative;
}

.login-title:after {
    content: url(JJW_LION_img/close.png);
    position: absolute;
    top: 0;
    right: 20px;
}


.login-content {
    padding-left: 25px;
    padding-right: 25px;
}

.login-content p:nth-child(1) {
    font-size: 23px;
    font-weight: 440;
}

.login-content p:nth-child(2) {
    color: gray;
    font-size: 16px;
}

.login-content p:nth-child(2) img {
    vertical-align: middle;
    margin-right: 3px;
    top: 2px;
    transition: all 0.2s linear;
}

.login-content p:nth-child(2) img:hover{
    transform: scale(1.03,1.08);
    cursor: pointer;
}

.login-content div:nth-child(3) {
    background-color: #2F80ED;
    color: #FFFFFF;
    text-align: center;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    line-height: 60px;
    transition: all 0.2s linear;
}

.login-content div:nth-child(3):hover {
    transform: scale(1.03);
}

.login-content div:nth-child(4) {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px 0;
}

.login-content div:nth-child(4) a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
    padding: 0 15px;
    margin: 15px 0;
    position: relative;
}

.login-content div:nth-child(4) a:hover {
    text-decoration: underline;
    opacity: 1;
}

.signin:after {
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    background-color: gray;
    height: 80%;
    width: 1px;
}


.login-type {
    text-align: center;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}

span.or-text {
    color: gray;
    display: block;
    margin: 20px auto;
    position: relative;
}

span.or-text:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    background-color: gray;
    opacity: 0.8;
    height: 1px;
    width: 43%;
}

span.or-text:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 12px;
    background-color: gray;
    opacity: 0.8;
    height: 1px;
    width: 43%;
}


/* button CSS */
a.btn {
    /* inline 요소도 block 써주면 blcok 요소됨 */
    display: block;
    text-decoration: none;
    color: #4D4D4D;
    border-radius: 5px;
    font-size: 17px;
    padding: 15px;
    opacity: 0.8;
    margin: 10px;
    position: relative;
}

a.btn:hover {
    opacity: 1;
}


/* button 별 CSS */
a.btn1 {
    border: 2px solid #AEAEAE;
}

a.btn2 {
    border: 2px solid #71BCE6;
}

a.btn3 {
    border: 2px solid #36CC49;
}

a.btn4 {
    border: 2px solid #F4D26A;
}


/* btn에 img 넣기 */
a.btn1:before {
    content: url(JJW_LION_img/icon_google.png);
    position: absolute;
    left: 15px;
    top: 15px;
}

a.btn2:before {
    content: url(JJW_LION_img/icon_facebook.png);
    position: absolute;
    left: 18px;
    top: 15px;
}

a.btn3:before {
    content: url(JJW_LION_img/icon_naver.png);
    position: absolute;
    left: 15px;
    top: 15px;
}

a.btn4:before {
    content: url(JJW_LION_img/icon_kakao.png);
    position: absolute;
    left: 15px;
    top: 15px;
}